.foto{
    width: 100%;  
}
.button-style{
    margin-left: 750px !important;
}
.cuadricula-estilo{
    padding-left: 45% !important;
}
.header-post{
    display:flex;
    justify-content: space-between;
    padding: 5px;
    height: 65px;
    align-items: center;
}